foreman-installer \
--foreman-initial-admin-password="{{ foreman_password }}" \
--foreman-cli-manage-root-config=true \
--foreman-cli-password="{{ foreman_password }}" \
--foreman-cli-username="admin" \
