foreman-installer \
  --foreman-initial-admin-password="{{ foreman_password }}" \
  --foreman-cli-manage-root-config=true \
  --foreman-cli-password="{{ foreman_password }}" \
  --foreman-cli-username="admin" \
  --foreman-oauth-consumer-key {{ foreman_oauth_consumer_key }} \
  --foreman-oauth-consumer-secret {{ foreman_oauth_consumer_secret }} \
  --no-enable-foreman-proxy
